{% extends "posts/base.html"%}

{% block content%}
    {% for post in posts%}
    <div class="card mb-3">
        <div class="d-flex text-muted border-bottom py-2">
            <!-- user metadata -->
            <img class="image-fluid rounded-circle account-img-sidebar" src="{{post.author.profile.image.url}}" alt="{{post.author.username}} profile picture">
            <div class="pb-3 mb-0 small lh-sm w-100">
              <div class="d-flex">
                <strong class="text-gray-dark">{{post.author.email}}</strong>
              </div>
              <span class="d-block">@{{post.author.username}}</span>
            </div>
          </div>
        <img class=" image-fluid card-img-top post-image" src="{{post.image.url}}" alt="{{post.name}}">
        <div class="card-body">
          <h5 class="card-title">{{post.name}}</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    {% empty %}
        <h3>NO posts yet! Be the first to add one</h3>
    {% endfor %}
{% endblock content%}

