{% extends "posts/base.html"%}

{% block content%}
    <div class="card mb-3">
        <div class="d-flex text-muted border-bottom py-2">
            <!-- user metadata -->
            <img class="image-fluid rounded-circle account-img-sidebar" src="{{object.author.profile.image.url}}" alt="{{objects.author.username}} profile picture">
            <div class="pb-3 mb-0 small lh-sm w-100">
              <div class="d-flex">
                <strong class="text-gray-dark">{{object.author.email}}</strong>
              </div>
              <span class="d-block">@{{object.author.username}}</span>
            </div>
          </div>
        <img class=" image-fluid card-img-top post-image" src="{{object.image.url}}" alt="{{object.name}}">
        <div class="card-body">
          {% if object.author == user %}
                <div class="blog-btn-action my-2">
                    <a href="{% url 'post-update' object.id %}" class="btn btn-info btn-sm text-center">Update</a>
                    <a href="{% url 'post-delete' object.id %}" class="btn btn-danger btn-sm mx-2 text-center">Delete</a>
                </div>
            {% endif %}
          <h5 class="card-title">{{object.name}}</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
{% endblock content%}

